<div class="header">
    <h1 class="header"><img src="/assets/images/i_love_meow_life.png" style="height: 48px;"/><a href="/" style="text-decoration: none;">iFantasticLife</a></h1>
    <!--div>
        <a href="https://www.youtube.com/channel/UCCrxa1inTdOtNsU0Fq8MrOg"><img src="/assets/images/youtube.png" style="height: 32px;"/></a>
        <a href="https://space.bilibili.com/1003739454/channel/detail?cid=163039"><img src="/assets/images/bilibili.jpg" style="height: 32px;"/></a>
    </div-->
</div>

<hr/>

<div class="bg_container">
    <div class="bg_centered">&gt; ping my.next.stop</br>Destination unreachable...</div>
</div>
