div.header {
    display: flex;
    justify-content: space-between;
}

h1.header {
    display: inline;
    margin-top: 0;
    margin-bottom: 0;
}

.nav_align {
    margin: auto;
    width: 90%;
    text-align: center;
    font-family: Cursive;
    font-size: x-large;
    word-spacing: 1em;
}

.nav_current {
    font-weight: bold;
}

.bg_container {
    position: relative;
    text-align: center;
    background-image: url('/assets/images/img_snow_wide.jpg');
}

.bg_centered {
    display: inline-block;
    text-align: left;
    font-weight: bold;
    font-size: 125%;
}

.bd_content {
    margin: auto;
    width: 75%;
    text-align: left;
}

mark {
    background-color: #ccbb;
    font-family: "Lucida Console", "Courier New", monospace;
}

small {
    background-color: #ccbb;
    font-family: "Lucida Console", "Courier New", monospace;
}

// hightlight for program language
.lineno { 
  color: #ccc; 
  display: inline-block; 
  padding: 0 5px; 
  border-right:1px solid #ccc;
}

.highlight table td.gutter {
    width: 10px;
    padding-right: 1em;
    color: #bdc1c4;
}

.language-plaintext {
    font-weight: bold;
    background: #eef;
}
